.title-post {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-top: 5%;
      padding: 5%;
      border: 1px solid black;
}

.description-post {
  list-style: none;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
  letter-spacing: -0.003em;
  line-height: 40px;
  color:grey;
}