.title-post {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 5% auto;
  padding: 5%;
  border: 1px solid black;
  width: 50%;
}

.description-post {
  list-style: none;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
  letter-spacing: -0.003em;
  line-height: 40px;
  color: grey;
}
